html, body {
	margin: 0;
	padding: 0;
}

html {
	background: url('/weathervane-bg.jpeg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	font-family: 'Josefin Sans', sans-serif;
}

header {
	margin-top: 5%;
}

header, main {
	padding-left: 15%;
}

h1 {
	margin-bottom: 0;
	color: #39412C;
	font-family: 'Flamenco', cursive;
	font-size: 36px;
}

h1 a:link, h1 a:visited, h1 a:hover, h1 a:active {
	color: #39412C;
	text-decoration: none;
}

h2 {
	margin-top: 0;
	color: grey;
	font-size: 22px;
}

button, .form-submitbutton {
	border: 1px solid lightgrey;
	color: grey;
	font-family: 'Lato', sans-serif;
	padding: 7px 10px;
	text-transform: uppercase;
}

.hidden {
	display: none;
}


/* WEATHER PAGE */

fieldset {
	border: 0;
}

label {
	display: block;
}

::placeholder {
	font-family: 'Lato', sans-serif;
	font-style: italic;
}

.form-textinput {
	padding: 7px;
}


/* RESULTS PAGE */

.photo-attr {
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 10px;
	padding: 5px;
	opacity: 0.6;

	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-style: italic;

	background-color: white;
}

.unsplash-attr:link, .unsplash-attr:visited, .unsplash-attr:hover, .unsplash-attr:active {
	color: grey;
}

.map {
	margin-bottom: 5px;
}

#map {
	height: 350px;
	width: 400px;
}

.js-restartbutton {
	display: block;
}