html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Josefin Sans', sans-serif;
}

header, main {
	padding-left: 30px;
}

h1 {
	margin-bottom: 0;
	color: grey;
	font-family: 'Flamenco', cursive;
}

h2 {
	margin-top: 0;
	color: lightgrey;
	font-size: 16px;
}

button, .form-submitbutton {
	border: 1px solid lightgrey;
	color: grey;
	padding: 7px 10px;
	text-transform: uppercase;
}

.hidden {
	display: none;
}


/* WEATHER PAGE */

fieldset {
	border: 0;
}

label {
	display: block;
}

.form-textinput {
	padding: 7px;
}


/* RESULTS PAGE */

#map {
	height: 350px;
	width: 400px;
}